@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css?family=Assistant|Roboto');

//global variables 
$feather: #77c9d4;
$marine: #57bc90;
$forest: #015249;
$sleekgray: #a5a5af;

html, body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.header {
    background-color: $marine;
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;

    h3 {
        color: white;
    }
}

.header-title {
    color: white;
    font-size: 4rem;
    letter-spacing: 4px;
    margin: 0 auto;
}

.news__selector {
    margin-top: 1.5rem;
}